#navigation-menu img{
    margin-right: var(--space-small);
    margin-left: var(--space-small);
    box-sizing: border-box;
    max-width: 120px;
    width: 200px;
    height: auto;
}

#navigation-menu {
    margin: var(--space-medium);
    display: flex ;
    text-align: center;
    color: #8E3C29;
}
#navigation-menu h3{
    margin-right: var(--space-big);
    margin-left: var(--space-big);
    color: #8E3C29;
    font-size: 16px;
}

#navigation h3:hover{
    background-color: #8E3C29;
    color: #FBFAE8;
}

@media (min-width: 550px){
    #navigation-menu{
        display: flex;
        align-items: center;
        text-align: left;
    }
}
